// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@import "pages/main";
@import "pages/admin";

body {
    margin: 0;
    padding: 0;
    width: 100%;
}
